<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <!--应用Id-->
  <add key="AppId" value="wx1c1fad159d6b013d"/>
  <!--应用密钥-->
  <add key="Appsecret" value="d4624c36b6795d1d99dcf0547af5443d"/>
  <!--Token-->
  <add key="Token" value="FreshMan"/>
  <!--是否要求在微信浏览器中打开-->
  <add key="IsSilentAuthorization" value="true"/>
</appSettings>
