<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

  <!--是否静默授权-->
  <add key="IsSilentAuthorization" value="true"/>


  <!-- 以下信息会被自动识别，如无特殊说明，不用的参数可以删除，但修改 key 后将会无法自动识别！ -->
  <!-- 自动识别参数开始 -->

  <!-- 以下为 CO2NET 的 SenparcSetting 全局配置，请勿修改 key，勿删除任何项 -->

  <!-- 默认缓存命名空间配置 -->
  <add key="DefaultCacheNamespace" value="DefaultCache" />
  <!-- Cache.Redis连接配置 -->
  <!--<add key="Cache_Redis_Configuration" value="Redis配置" />-->
  <add key="Cache_Redis_Configuration" value="localhost:6379" />
  <!-- Cache.Memcached连接配置 -->
  <add key="Cache_Memcached_Configuration" value="" />
  <add key="SenparcUnionAgentKey" value="" />

  <!-- 以下为 Senparc.Weixin 的 SenparcWeixinSetting 微信配置，不使用的参数可以删除  -->

  <!-- 微信公众号URL对接信息 -->
  <add key="WeixinToken" value="FreshMan" />
  <add key="WeixinEncodingAESKey" value="" />
  <!-- 高级接口信息 -->
  <add key="WeixinAppId" value="wx1c1fad159d6b013d" />
  <add key="WeixinAppSecret" value="d4624c36b6795d1d99dcf0547af5443d" />

  <!-- 自动识别参数结束 -->

  <!--本地iis端口，80端口不填-->
  <add key="LocalIISPart" value="8050"/>
</appSettings>
