
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexPage</title>
</head>
<body>
<div>
    IndexPage
    用户信息为：@Html.Raw(ViewBag.UserInfo)
    是否在微信浏览器中：@ViewBag.IsWeChatBrower
</div>
</body>
</html>
